[submodule "Frontend"]
	path = Frontend
	url = https://github.com/PicadosYa/Frontend
[submodule "Backend"]
	path = Backend
	url = https://github.com/PicadosYa/Backend
[submodule "cenapp"]
	path = cenapp
	url = https://github.com/PicadosYa/cenapp.git
